//Footer block/component

.footer {
    @include dflex-center;
    padding: 1.5rem 1.5rem;
}

.footer__container {
    @include dflex(column, wrap, center, center);
}

.footer__social-icon-container {
    @include dflex-center;
    margin-bottom: 0.5rem;
}

.footer__social-link {
    margin: 0 0.4rem;
    font-size: 1.35rem;
    color: $text-icon;

    &:hover {
        color: $text-hover;
    }
}

.footer__text {
    text-align: center;
    font-size: 0.937rem;
}