//Table block/component
//Responsive table inspired by https://css-tricks.com/responsive-data-tables/ 
//Howvever, flexbox used to layout mobile table
.table {
    display: block;
    width: 100%;

    @include media-query("medium") {
        display: table;
    }
}

.table__caption {
    display: block;
    padding: 1rem;
    width: 100%;

    border-bottom: 1px solid $b-primary;
    font-size: 1.2rem;
    font-weight: 600;

    @include media-query("medium") {
        display: table-caption;

        border: none;
    }
}

.table__thead {
    position: absolute; //Hide thead
    top: -999px;
    left: -999px;
    height: 0;
    width: 0;

    text-align: left;

    @include media-query("medium") {
        position: initial;
        height: auto;
        width: 100%;
    }
}

.table__tbody {
    display: block;
    width: 100%;

    @include media-query("medium") {
        display: table-row-group;
    }
}

.table__row {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @include media-query("medium") {
        display: table-row;
    }
}

.table__row--background {
    background-color: $bg-peach;
}

.table__cell {
    display: block;
    padding: 0.5rem 0.2rem;
    height: auto;

    @include media-query("medium") {
        display: table-cell;
        height: 4rem;
    }
}

.table__cell--heading {
    border-bottom: 1px solid $b-primary;
}

.table__cell--data {
    margin-bottom: 0.5rem;
    width: 100%;

    @include media-query("medium") {
        margin: 0;
        width: auto;
    }
}

.table__cell--data::before {
    display: inline-block;
    width: 100%;

    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;

    @include media-query("medium") {
        display: none;
    }
}

.table__cell--package::before {
    content: "Package";
    padding-top: 1rem;
}

.table__cell--time::before {
    content: "Time";
}

.table__cell--no::before {
    content: "No. of Photos";
}

.table__cell--description::before {
    content: "Description";
}

.table__cell--price::before {
    content: "Price";
}